
/************************************************************************/
/****************** Tools and Settings Bars *****************************/
/************************************************************************/

path.bubblelink {
  fill: lightsteelblue;
  fill-opacity: 0.8;
}

.bubblelink {
  stroke: #000000;
  stroke-width:2px;
  stroke-opacity: 1;
}

/* override the default handle width because I load this file last */
.ui-slider .ui-slider-handle { width: 8px; margin-left: -8px; }


input.rounded {

  border: 1px solid #ccc;
   
  /* Safari 5, Chrome support border-radius without vendor prefix.
   * FF 3.0/3.5/3.6, Mobile Safari 4.0.4 require vendor prefix.
   * No support in Safari 3/4, IE 6/7/8, Opera 10.0.
   */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
  /* Chrome, FF 4.0 support box-shadow without vendor prefix.
   * Safari 3/4/5 and FF 3.5/3.6 require vendor prefix.
   * No support in FF 3.0, IE 6/7/8, Opera 10.0, iPhone 3.
   * change the offsets, blur and color to suit your design.
   */
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  
  /* using a bigger font for demo purposes so the box isn't too small */
  font-size: 20px;
  
  height: 26px;
  /* with a big radius/font there needs to be padding left and right
   * otherwise the text is too close to the radius.
   * on a smaller radius/font it may not be necessary
   */
  padding: 4px 7px;
  
  /* only needed for webkit browsers which show a rectangular outline;
   * others do not do outline when radius used.
   * android browser still displays a big outline
   */
  outline: 0;

  /* this is needed for iOS devices otherwise a shadow/line appears at the
   * top of the input. depending on the ratio of radius to height it will
   * go all the way across the full width of the input and look really messy.
   * ensure the radius is no more than half the full height of the input, 
   * and the following is set, and everything will render well in iOS.
   */
  -webkit-appearance: none;
  
}

input.rounded:focus {
  
  /* supported IE8+ and all other browsers tested.
   * optional, but gives the input focues when selected.
   * change to a color that suits your design.
   */
  border-color: #339933;
  
}


.legendDiv{
   background-image:url('images/legendSmall.png');
   height: 414px;
   width: 575px; 

}

.verticalLine {

    height: 30px;
    margin:5px 0px 5px 5px;
    float:left;
    border-left: solid #FFFFFF;
    border-width:thin;

}

.barTitles{

  font-family:Arial,Helvetica,sans-serif;
  float:left;
  margin:10px 0px 0px 5px;
  color:black;
  font-weight:bold;

}

.toolBar{

  width: 800px;
  height: 40px;
  background-color:#E8E8E8;  /*#A6CEE3; */

  border:1px solid;
  border-color: #FFFFFF;
  border-radius:5px;

}

.settingBar{

  padding-top:0px;
  width: 800px;
  height: 40px;
  background-color: #E8E8E8; /*#B2DF8A;*/

  border:1px solid;
  border-color: #FFFFFF;
  border-radius:5px;

}

.ForceDirectedDiv{

  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;

  float:left;
  margin:12px 0px 0px 20px;

}

.checkBoxDiv{

  float:left;
  margin: 9px 0px 0px 0px;

}

.OnOffButtonDiv{

  float:left;
  text-align:center;
  width:100px;
  height:30px;
  margin: 7px 0px 0px 0px;

}
 

/** for gene search scrollbar */
.ui-autocomplete {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  width:50px;
}

/* IE 6 doesn't support max-height*/
* html .ui-autocomplete {
  height: 100px;
}


.SettingsCheckBoxDiv{
  float:left;
  margin: 10px 0px 0px 5px;
}

.SettingsTextDiv{
  
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;

  float:left;
  margin:12px 0px 0px 5px;

}


/***** Sliders ********/

.slider{
  float: left;
  width: 65px; 
  margin: 5px;
}


/*for the resize path of the score histograms*/
.resize path {
  fill: #eee;
  stroke: #666;
}
  
 
 